body {
  background-color: #eee;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#backdrop {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;

  background: rgb(4,32,37);
  background: linear-gradient(135deg, rgb(6, 44, 50) -40%, rgb(3, 0, 37) 100%);
}

.button {
  position: absolute;
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.inventory {
  position: absolute;
  background: white;
  padding: 15px;
}

.table .row {
  line-height: 10px; /* match to cell size */
}

.table .cell {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid gray;
}

.table .cell.filled {
  background-color:rgb(50, 50, 100)
}

.inventory .dropzone {
  height: 15px;
  cursor: pointer;
  border: 1px solid gray;
  background-color: gray;
}

.inventory .dropzone:hover {
  border: 1px solid black;
  background-color: rgb(80, 80, 80);
}

.floater {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  display: none; /* toggled from JS */
}
