body {
  background-color: #eee;
  font-family: 'Michroma', sans-serif;
  color: white;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#debug-log {
  color: black;
  position: absolute;
  top: 1080px;
  font-family: monospace;
}

#backdrop {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;

  background: rgb(4,32,37);
  background: linear-gradient(135deg, rgb(6, 44, 50) -40%, rgb(3, 0, 37) 100%);
}

#hud {
  position: absolute;
}

#hud .ship,
#hud .buy-button {
  position: relative;
  display: inline-block;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  width: 240px;
  height: 90px;
}

#hud .ship.active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

#hud .ship:hover,
#hud .buy-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

#hud .ship .ship-img {
  position: absolute;
  left: 16px;
  top: 27px;
  width: 32px;
  height: 32px;
  filter: grayscale();
}

#hud .ship.in-travel .status.in-orbit{
  display: none;
}

#hud .ship.in-orbit .status.in-travel{
  display: none;
}

#hud .ship img.status {
  position: absolute;
  left: 64px;
  top: 40px;
  width: 32px;
  height: 32px;
}

#hud .ship .ship-name {
  position: absolute;
  left: 64px;
  top: 16px;
  font-size: 14px;
}

#hud .ship .target-name {
  position: absolute;
  left: 108px;
  top: 50px;
  font-size: 10px;
}

#hud .buy-button {
  top: -27px; /* FIXME: wtf is this, why is it necessary? */
  font-size: 64px;
  width: 64px;
  line-height: 70px;
  text-align: center;
}

#hud .score-counter {
  margin-top: -10px;
  margin-left: 16px;
  font-size: 18px;
}

.name-container {
  position: absolute;
}

.name-container .button {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
}

.name-container .button img {
  width: 24px;
  height: 24px;
}

.name-container .button.comlink-on img {
  filter: brightness(70%) sepia(1) hue-rotate(80deg);
}

.name-container .button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.name-container .label {
  display: inline-block;
  vertical-align: super;
  padding-left: 8px;
  padding-right: 8px;
}

.inventory {
  position: absolute;
  padding: 15px;
}

.inventory .contract-container {
  padding-bottom: 5px;
}

.inventory .table {
  display: inline-block;
  cursor: pointer;
}

.inventory .details-container {
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  font-size: 10px;
  line-height: 11px;
}

.inventory .details-container .label{
  color: rgba(255, 255, 255, 0.5);
}

.inventory.ships .header,
.inventory.ships .container {
  padding-bottom: 8px;
}

.table .row {
  line-height: 10px; /* smaller than cell size to avoid gaps */
}

.table .cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.215);
  margin: 1px;
}

.table .cell.filled.color1,
.floater .table .cell.filled.color1 {
  background-color:rgb(86, 220, 159);
}
.table .cell.filled.color2,
.floater .table .cell.filled.color2 {
  background-color:rgb(82, 99, 255);
}
.table .cell.filled.color3,
.floater .table .cell.filled.color3 {
  background-color:rgb(255, 153, 102);
}
.table .cell.filled.color4,
.floater .table .cell.filled.color4 {
  background-color:rgb(255, 149, 244);
}

body.dragging .inventory.ships .table .cell:hover {
  cursor: pointer;
  background-color: rgb(179, 186, 183);
}

.floater {
  position: absolute;
  background: transparent;
  display: none; /* toggled from JS */
}

.floater .table .cell {
  border: none;
}

.floater .table .cell.filled {
  /* match sizing of locked cargo cells: */
  margin: 1px;
  border: 1px transparent;
}

.msg-container {
  position: absolute;
  padding: 30px;
  top: 500px;
  left: 500px;
  background-color: #2b2b2b;
  line-height: 30px;
}

.msg-container.ship-buying {
  width: 800px;
  left: 500px;
}

.msg-container .button.full-width {
  display: inline-block;
  padding: 10px;
  width: 100%;
}

.msg-container .button.yes {
  display: inline-block;
  padding: 10px 100px;
  margin-left: 205px;
  margin-top: 30px;
}

.msg-container .button.no {
  display: inline-block;
  padding: 10px 100px;
}

.msg-container .button:hover {
  cursor: pointer;
  background-color: #8e8d8da8;
}

#splash {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 1080px;
  text-align: center;
  background-color: black;
  z-index: 10;
}

#splash .message {
  margin-top: 500px;
  line-height: 32px;
}